* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

header h1 {
	display: block;
	margin: 0px auto;
	width: 650px;
	text-align: center;
	background-color: #4646a0;
	color: white;
}

section {
	width: 650px;
	background-color: #dad8d8;
	margin: 0px auto;
}

div#description {
	background-color: #dad8d8;
	padding: 20px 40px;
	
}

div.description__content {
	border: 1px solid;
	padding: 10px 10px;	
}

div.description__content p{
	font-size: 15px;
	text-align: justify;
	margin: 10px;
}

div.description__content ul{
	font-size: 15px;
	text-align: justify;
	margin: 10px 35px;
	list-style: none;
}

div#canvas {
	width: 100%;
}

.slider {
	margin: 20px auto;
	width: 80%;
}
.slider input {
	width: 100%;
}

.slider h5 {
	margin: 10px 10px;
    text-align: center;
}

ul#sliderMarks {
	display: block;
	width: 100%;
	height: 20px;
}

ul#sliderMarks li{
	display: block;
	float: left;
	list-style-type: none;
	width: 4%;
	font-size: 11px;
	text-align: center;
}